html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#titlebar {
  background: linear-gradient(to top, #8f8f8f, #ffffff);
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align:middle;
}

#relbtn, #download, #view {
  float: right;
  margin-left: 10px;
}

#html, #css, #js {
  flex: 1;
  resize: none;
  flex-grow: 1;
}

#tab1, #tab2, #tab3 {
  flex: 1;
  flex-grow: 1;
  display: flex;
}

#tab2, #tab3 {
  display: none;
}

#webview {
  flex: 1;
}

#tabbed {
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-direction: column;
}

#tab {
  margin-right: 10px;
  border: 1px outset black;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#editor {
  display: flex;
  height: calc(100% - 24px);
}